$normal:'Lato Regular';
$bold:'Lato Bold';
$Black:'Lato Black';

$blue:#416BE5;
$light-blue:#3B7BF7;
$black: #4F4F4F;
$grey:#828282;
$orange:#FFC000;
$violet:#504DC1;
$orange-gradient: linear-gradient(180deg, #FFC000 0%, #EF1717 100%);
$red: #EF1717;
$lato: 'Lato';

$box-shadow-dark: #4D4C72;
$box-shadow-light: #A6A6A6;
$box-shadow-secondary: #CDCDCD;
$main-bg-light: #E8F0FE;
$form-fade-bg-violet: #6966E0;
$secondary-text-light: #BDBDBD;